*{
	margin: 0;
	padding: 0;
}
body {
    margin-top: 20px;
}
img {
    height: 100px;
    float: left;
	margin-right:10px;
	margin-top:10px;
	width:150px;
}
#images{
	margin-left:10px;
}
.left{
	padding-left: 40px;
	width:700px;				
	float:left;
	height:610px;
	border-right:1px solid #c5c5c5;
	border-bottom:1px solid #c5c5c5;
}
.left p{
	display:block;
	text-align: center;
}
.titel{
	width:800px;
	height:100px;
	text-align: center;
}
.right{				
	float:left;
	width:500px;
	border-right:1px solid #c5c5c5;
}
.right .videos{
	height:360px;
	
}
.right .images{
	height:260px;
	border-bottom:1px solid #c5c5c5;				
}
.right .images h2, .right .videos h2{
	height:31px;
	background-image: url(img/bg_titel.png);
	background-repeat: repeat-x;
	line-height:30px;
	padding-left:10px;
	font-family: Arial;
	font-size:14px;
}
.video {
    font: 12px arial;
    margin-bottom: 10px;
	margin-left:20px;
	margin-top:10px;
}

#map_canvas {
    margin-top: 15px;
    padding: 0px 0;
    position: fixed;
    width: 650px; 
    height: 400px;
}

.iwContainer { 
    width: 200px; 
    height: 400px; 
    display:block;
} 